<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ManuSqualL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/origin.css">
</head>
<body>

<!-- ####################################################################################################################################### -->
<!-- <div class="row">
    <ul>
        <li><img src="assets/img/raw.jpg" width="70px" alt=""></li>
        <li><h3>4 images 1 mot SqualL</h3></li>
    </ul>
</div> -->

<nav class="navigation-bar" >
        <img class="logo" src="assets/img/raw.jpg" width="70px" alt="">
        <h3>Quatre Images Un Mot</h3>
</nav>
<div class="container">
    <div class="exam1">
        <div class="jeu">
            
            
                <!-- ####################################################################################################################################### -->
                
                
                <!-- <div class="container-fluid"> -->
                <div >
                    <div class="divNiveau" style="padding: 20px 0"><span class="niveau"></span></div>
                    <script>
                        //pour récup la soluce
                        //A  améliorer!!
                        var id="<%= id %>";
                        var mot="<%= mot %>";
                    </script>

                    <hr>
                    
                    <div class="image">
                        <table style="width: 350px" >
                            <tr>
                                <td><img id="img1" class="img" src="" ></td>
                                <td><img id="img2" class="img" src="" ></td>
                            </tr>
                            <tr>
                                <td><img id="img3" class="img" src="" ></td>
                                <td><img id="img4" class="img" src="" ></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr>
                
                
                <!-- ####################################################################################################################################### -->
                <div class="btn-group divLettre">
                
                </div>
                <div id="btnLettre">
                <div class="btn-group">
                <button type="button" value="" id="1" class="btn">_</button>
                <button type="button" value="" id="2" class="btn">_</button>
                <button type="button" value="" id="3" class="btn">_</button>
                <button type="button" value="" id="4" class="btn">_</button>
                <button type="button" value="" id="5" class="btn">_</button>
                <button type="button" value="" id="6" class="btn">_</button>
                </div>
                <div class="btn-group">
                    <button type="button" value="" id="7" class="btn">_</button>
                    <button type="button" value="" id="8" class="btn">_</button>
                    <button type="button" value="" id="9" class="btn">_</button>
                    <button type="button" value="" id="10" class="btn">_</button>
                    <button type="button" value="" id="11" class="btn">_</button>
                    <button type="button" value="" id="12" class="btn">_</button>
                </div>
                </div>
        
                
                
            
        </div>
        <!-- <a id="Exo2" href="#bas">Suivant</a> -->
        
        <form action="" method="" id="squall">
            <button type="button" id="Exo2">
                    VALIDER
        </button>
    </form>
    
    </div>
    
</div>

<!-- ####################################################################################################################################### -->
    <script src="assets/js/squall.js"></script>

</body>
</html>