<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ManuSqualL</title>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/origin.css">

</head>
<body>
        <br>
        <br>
    
<div class="container ">

        <div class="jumbotron">

                        <div class="row  justify-content-center align-items-center">
            
                                        <img src="assets/img/thank.png" alt="image" width="30%" />
                                    </div>
                                    <br>
                                    <div class="row  justify-content-center align-items-center">
                                        <h4>FELICITATION ;-) , VOUS AVEZ ATTEINT LE NIVEAU 13! (la fin)</h4> 
                                    </div>
                                    <hr color="orange" >
                                    <p> <strong> <u>Professeur:</u>  M. Niang</strong> </p>
                                    <p>Charles E. S. Ndiaye L2Ri</p>
                                    <p>manusquall@gmail.com</p>

        </div>
                
    
    
                
    
    
            
        
    </div>
    
</body>
</html>