/* ################################################### */
/* navigation bar */
/* ################################################### */
.logo{
  display: inline-block;
  width: 50px;
  vertical-align: middle;
}
.navigation-bar{
  background-color: rgb(235,109,6);
}
.navigation-bar > h3{
  display: inline-block;
}
/* ################################################### */

#Exo2{
  color:#fff;
  background-color:rgb(235, 109, 6);
  width: 30%;
  height: 40px;
}
.container{
height: auto;
text-align: center;

/* from .jeu */
margin: 0 auto;
width: 350px;
background-color: #23293E;
}
.niveau{
background-color: rgb(235, 109, 6);
padding: 2.5%;
border-radius: 50%;
}
.divNiveau{
width: 350px;
background-color: #23293E;
text-align: center;
padding-top: 15px;
padding-bottom: 5px;
}
.img{
border-radius: 20%;
border: 0px solid grey;
text-align: center;
background-color: white;
height: 140px;
width: 140px;
}
div table tr td{
width: 175px; 
text-align: center;
}
.btn{
width: 15%;
font-family: monospace;
font-size: 30px;
text-align: center;
margin: 0 0 5px 0;
padding: 0;
border-radius: 10%;
box-shadow: 0  1px grey;
}
.btn:hover{
opacity: 0.6;
background-color: red;
}
.lettre{
width: 10%;
font-family: monospace;
font-size: 20px;
text-align: center;
margin: 0 0 5px 0;
padding: 0;
color: white;
background-color: black;
border-radius: 10%;
}
.divLettre{
padding: 5px;
}